.footer {
  background-color: #a5102e;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 20px;
  &_image {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  &_ending {
  }
  &_terms {
    color: white;
    margin: 10px 10px 20px 5px;
    text-align: center;
    font-weight: 100;
  }
  &_icon-wrapper {
    text-align: center;
  }
  &_image-burger {
    width:250px;
  }
}
